{{ define "main" }}

<section class="bar">
    <div class="container">
        <div class="row">
            <div class="col p-4 text-center">
                <div style="font-size:1.75rem">
                    Kubernetes Multi-Cloud Application 
                    Access & Security
                </div>
                <div class="row p-5 ">
                    <div class="col">
                        <button type="button" class="btn btn-secondary"> Request Demo</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="/images/multicloud.png" style="width:520px">
            </div>
        </div>
    </div>
    
</section>

<section class="bar">
    <div class="container">
        <div class="home-carousel">
            <div class="container"> 
                <div class="homepage owl-carousel"> 
                    {{ range sort .Site.Data.carousel "weight" }}
                    <div class="item">
                        <div class="row">
                            <div class="col-sm carousel-text">
                                <h3>{{ .title }}</h3>
                                {{ .description | safeHTML }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div> 
            
            </div>
        </div>
    </div>

</section>
<section class="bar">
    <div class="container" id="solutions">
        <div class="row row-cols-3 g-3">
            <div class="col">
                <a class="sol-link" href="/multicloud">
                    <div class="sol-text p-3 border shadow rounded-pill bg-ltgreen d-flex justify-content-center">
                        Multi-Cloud
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="sol-link" href="/isolation">
                    <div class="sol-text p-3 border shadow rounded-pill bg-ltgreen d-flex justify-content-center">    
                        Isolation / Security
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="sol-link" href="/dev-friction/">
                    <div class="sol-text p-3 border shadow rounded-pill bg-ltgreen d-flex justify-content-center">    
                        Developer Friction
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="sol-link" href="/api-gateway/">
                    <div class="sol-text p-3 border shadow rounded-pill bg-ltgreen d-flex justify-content-center">    
                        API Gateway
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="sol-link" href="/reliability/">
                    <div class="sol-text p-3 border shadow rounded-pill bg-ltgreen d-flex justify-content-center">
                        Reliability / Redundancy
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="sol-link" href="/publiccloud/">
                    <div class="sol-text p-3 border shadow rounded-pill bg-ltgreen d-flex justify-content-center">
                    Public Cloud
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bar">
    <div class="container" id="resources">
        <div class="row">
            <div class="col">
                <div class="p-3 sol-text d-flex justify-content-center align-items-center">
                    <img src="/images/EPIC-icon.png" style="width:48px; height:48px; margin-right:5px">EPIC Guide
                </div>
            </div>
            <div class="col">
                <div class="p-3 sol-text d-flex justify-content-center align-items-center">
                    <a class="sol-link" href="https:/purelb.gitlab.io/docs/">
                        <img src="/images/purelb.png" style="width:48px; height:48px; margin-right:5px">PureLB Guide
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="p-3 sol-text d-flex justify-content-center align-items-center">
                    <a class="sol-link" href="https://medium.com/thermokline">
                        <img src="/images/thermokline.png" style="width:48px; height:48px; margin-right:5px"> Medium - ThermoKline
                    </a>
                 </div>
            </div>
        </div>

    </div>





</section>



{{ end }} 