{{ define "main" }}


<section class="bar">
    <div class="home-carousel">
        <div class="container"> 
            <div class="homepage owl-carousel"> 
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-6 carousel-text">
                            <h1>{{ .title }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid" src="{{ .image }}" alt="">
                        </div>
                    </div>
                </div>
                {{ end }}
            </div> 
            
        </div>
    </div>
</section>

<section>
    <div class="container">
        {{ range $index, $element := sort .Site.Data.features "weight" }}
        {{ if eq (mod $index 3) 0 }}
        <div class="col-md-12">
            <div class="row">
        {{ end }}
                <div class="col-md-6">
                    <div class="box-simple">
                        {{ with $element.url }}
                        <a href="{{ $element.url }}">
                        {{ end }}
                            <div>
                                <img class="icon" src="{{ .image }}"></i>
                            </div>
                        {{ with $element.url }}
                       
                        {{ end }}
                        <h3>{{ $element.name | markdownify }}</h3> 
                        <p>{{ $element.description | markdownify }}</p></a>
                    </div>
                </div>
        {{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.features) 1 )) }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>



{{ end }} 