
<footer class="footer py-5 mt-auto bg-ltgreen">
        <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Products</h5>
                        <ul class="list-unstyled">
                            <li>Application Gateway</li>
                            <li>k8s Load Balancer Controller</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Guides</h5>
                        <ul class="list-unstyled">
                            <li>EPIC</li>
                            <li>PureGW</li>
                            <li><a class="footer"href="https://purelb.gitlab.io/docs/">PureLB</a></li>
        
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Community</h5>
                        <ul class="list-unstyled">
                            <li><a class="footer" href="https://gitlab.com/purelb">OpenSource</a></li>
                            <li><a class="footer" href="https://kubernetes.slack.com/archives/C01BCB7U031">k8s/PureLB Slack Channel</a></li>
                            <li><a class="footer" href="https://medium.com/thermokline">ThermoKline</a></li>
        
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Company</h5>
                        <ul class="list-unstyled">
                                <li><a class="footer" href="/about/">About Acnodal</a></li>
                                <li><a class="footer" href="/news/">News</a></li>
                                <li>Contact</li>
                            </ul>
                    </div>
                </div>
        </div>
</footer>