
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light sticky-top bg-white">
      <div class="container">
        <a class="navbar-brand" href={{ "/" | absURL }}><img src={{ .Site.Params.navbarbrandimage }} style="height:48px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
          <ul class="navbar-nav">
            {{ range .Site.Menus.main }}
              {{ if .Name }}
                {{ if .HasChildren }}


                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 {{.Name }}</a>
                  <div class="dropdown-menu" aria-labelledby="navDropdownMenuLink">
                  {{ range .Children }}
                    {{ if not .URL }}
                      <a class="dropdown-item disabled">
                    {{ else }}
                      <a class="dropdown-item" href="{{ .URL }}">
                    {{ end }}
                    {{ if .Pre }}
                      <img src="{{ .Pre }}" style="width:32px; height:32px;"> 
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                    </a>
                  
                  {{ end }}
                  </div>
                {{ else }}      
                  <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}"> {{ .Name }} </a>
                  </li>
                {{ end }}
              {{ end }}
                </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
</header>

